In [ ]:
# import pandas as pd

# logs_file_path = 'loginlogs.txt'
# logs_column_names = ['Date', 'Time', 'PC Name', 'User Name']
# df = pd.read_csv(logs_file_path, sep=' ; ', names=logs_column_names, engine='python')

# print(df.head())

In [ ]:
date_format_1 = '%d.%m.%Y'
date_format_2 = '%a %m/%d/%Y'
date_format_3 = '%d-%b-%Y'
date_format_4 = '%d-%b-%y'
date_format_5 = '%d/%m/%Y'
date_format_6 = '%a-%d-%b'

# Create a new column to store the original date values
df['Original_Date'] = df['Date']

# Attempt to parse the 'Date' column using each format
df['Date'] = pd.to_datetime(df['Date'], errors='coerce', format=date_format_1).combine_first(
    pd.to_datetime(df['Date'], errors='coerce', format=date_format_2)).combine_first(
    pd.to_datetime(df['Date'], errors='coerce', format=date_format_3)).combine_first(
    pd.to_datetime(df['Date'], errors='coerce', format=date_format_4)).combine_first(
    pd.to_datetime(df['Date'], errors='coerce', format=date_format_5)).combine_first(
    pd.to_datetime(df['Date'], errors='coerce', format=date_format_6))

# Use boolean indexing to retrieve values from 'Original_Date' where 'Date' is 'NaT'
na_values = df.loc[df['Date'].isna(), 'Original_Date']

print(na_values)

In [121]:
import pandas as pd

# Step 1: Read both files into DataFrames
loginlogs_df = pd.read_csv("loginlogs.txt", sep=" ; ", header=None, names=["date", "time", "PC name", "user name"], engine='python')
school_pcs_df = pd.read_csv("School_PCs.txt", sep=" ; ", header=None, names=["Inventory number", "Asset name", "Asset type", "Location", "Responsible", "Position", "Year", "Comment"], engine='python')

# Step 2: Extract inventory numbers from School_PCs.txt
inventory_numbers = school_pcs_df["Inventory number"]

# Step 3: Filter loginlogs_df to include only rows with PC names containing inventory numbers
df = loginlogs_df[loginlogs_df["PC name"].str.contains('|'.join(map(str, inventory_numbers)), case=False)]

# Display the filtered DataFrame
print(df.head())

              date         time      PC name            user name
6   Fri 09/01/2023  10:31:20.62  011108499NU          abdul.wahab
10  Fri 09/01/2023  10:30:41.34  000553011NU     nazym.alipbayeva
12  Fri 09/01/2023  10:28:11.77  000580520NU  eldar.sharafutdinov
25  Fri 09/01/2023  10:20:22.48  000580519NU       aibek.shokayev
26  Fri 09/01/2023  10:19:15.87  NLT069054NU     kassym.talgatuly

In [122]:
# Create a new column to store the original date values
df.loc[:,'Original_Date'] = df['date'].copy()


date_format_1 = '%a %m/%d/%Y'
# date_format_2 = 

df.loc[:, 'date'] = pd.to_datetime(df['date'], errors='coerce', format=date_format_1)
df

C:\Users\user\AppData\Local\Temp\ipykernel_12048\1085964958.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:,'Original_Date'] = df['date'].copy()

,date,time,PC name,user name,Original_Date
6,2023-09-01 00:00:00,10:31:20.62,011108499NU,abdul.wahab,Fri 09/01/2023
10,2023-09-01 00:00:00,10:30:41.34,000553011NU,nazym.alipbayeva,Fri 09/01/2023
12,2023-09-01 00:00:00,10:28:11.77,000580520NU,eldar.sharafutdinov,Fri 09/01/2023
25,2023-09-01 00:00:00,10:20:22.48,000580519NU,aibek.shokayev,Fri 09/01/2023
26,2023-09-01 00:00:00,10:19:15.87,NLT069054NU,kassym.talgatuly,Fri 09/01/2023
...,...,...,...,...,...
352374,NaT,10:35:43.49,NLT066649NU,kanat.dukenbayev,16-Aug-21
352387,NaT,10:16:42.69,NLT063857NU,tomiris.madiyarova,16/08/2021
352393,2021-08-16 00:00:00,9:59:05.73,NLT042613,nursultan.jyeniskhan,Mon 08/16/2021
352394,2021-08-16 00:00:00,9:58:48.87,011107760NU,saule.mergenbayeva,Mon 08/16/2021
352403,2021-08-16 00:00:00,9:49:29.33,NLT042591,nursultan.jyeniskhan,Mon 08/16/2021

In [123]:
count = len(df['date'])
na_count = df['date'].isna().sum()
print(f'Percentage of NaT is: {round(na_count/count*100,2)}%')

Percentage of NaT is: 12.8%

In [113]:
df['date'].isna()

6         False
10        False
12        False
25        False
26        False
          ...
352374     True
352387     True
352393    False
352394    False
352403    False
Name: date, Length: 75679, dtype: bool

In [124]:
date = pd.NaT
df.loc[df["date"] == date, "Original_Date"].iloc[0]

IndexError: single positional indexer is out-of-bounds

In [ ]:
inv_num = "NLT060945"
school_pcs_df.loc[school_pcs_df["Inventory number"] == inv_num, "Responsible"].iloc[0]

In [ ]:
filtered_loginlogs_df[filtered_loginlogs_df["user name"] == "abay.kasken"]

In [ ]:
inv_num = "NLT060945"
school_pcs_df[school_pcs_df["Inventory number"] == inv_num]

In [126]:
date = pd.Timestamp('2065-02-23 00:00:00')

df[df["date"] == date]

,date,time,PC name,user name,Original_Date
119752,2065-02-23 00:00:00,7:44:00.47,NLT042703NU,almas.turakov,Mon 02/23/2065

In [130]:
date_counts = df['date'].value_counts(dropna=False)
dict(date_counts)

{NaT: 9688,
 Timestamp('2023-08-29 00:00:00'): 418,
 Timestamp('2023-08-22 00:00:00'): 412,
 Timestamp('2023-08-28 00:00:00'): 408,
 Timestamp('2023-08-31 00:00:00'): 391,
 Timestamp('2023-04-13 00:00:00'): 389,
 Timestamp('2022-09-19 00:00:00'): 386,
 Timestamp('2023-08-21 00:00:00'): 371,
 Timestamp('2022-09-07 00:00:00'): 364,
 Timestamp('2022-09-06 00:00:00'): 363,
 Timestamp('2023-02-16 00:00:00'): 352,
 Timestamp('2023-02-02 00:00:00'): 351,
 Timestamp('2023-02-15 00:00:00'): 351,
 Timestamp('2022-09-22 00:00:00'): 345,
 Timestamp('2022-09-05 00:00:00'): 344,
 Timestamp('2022-10-10 00:00:00'): 340,
 Timestamp('2023-08-23 00:00:00'): 340,
 Timestamp('2022-09-09 00:00:00'): 338,
 Timestamp('2023-03-09 00:00:00'): 334,
 Timestamp('2023-01-31 00:00:00'): 334,
 Timestamp('2022-10-12 00:00:00'): 332,
 Timestamp('2022-09-15 00:00:00'): 328,
 Timestamp('2022-11-09 00:00:00'): 328,
 Timestamp('2022-08-25 00:00:00'): 326,
 Timestamp('2022-10-13 00:00:00'): 323,
 Timestamp('2023-02-06 00:00:00'): 323,
 Timestamp('2023-08-24 00:00:00'): 319,
 Timestamp('2022-09-14 00:00:00'): 319,
 Timestamp('2023-04-12 00:00:00'): 314,
 Timestamp('2023-02-13 00:00:00'): 312,
 Timestamp('2023-03-15 00:00:00'): 312,
 Timestamp('2023-01-26 00:00:00'): 309,
 Timestamp('2022-09-13 00:00:00'): 308,
 Timestamp('2022-09-08 00:00:00'): 308,
 Timestamp('2023-08-17 00:00:00'): 306,
 Timestamp('2022-10-26 00:00:00'): 304,
 Timestamp('2023-02-20 00:00:00'): 302,
 Timestamp('2023-01-30 00:00:00'): 301,
 Timestamp('2022-09-12 00:00:00'): 300,
 Timestamp('2022-10-20 00:00:00'): 299,
 Timestamp('2023-04-04 00:00:00'): 298,
 Timestamp('2022-08-22 00:00:00'): 297,
 Timestamp('2022-11-14 00:00:00'): 297,
 Timestamp('2023-04-11 00:00:00'): 292,
 Timestamp('2022-09-29 00:00:00'): 291,
 Timestamp('2022-11-02 00:00:00'): 290,
 Timestamp('2022-10-31 00:00:00'): 289,
 Timestamp('2023-03-14 00:00:00'): 286,
 Timestamp('2023-04-10 00:00:00'): 286,
 Timestamp('2023-04-19 00:00:00'): 285,
 Timestamp('2022-11-10 00:00:00'): 284,
 Timestamp('2022-12-06 00:00:00'): 284,
 Timestamp('2023-03-16 00:00:00'): 283,
 Timestamp('2022-09-01 00:00:00'): 283,
 Timestamp('2023-04-18 00:00:00'): 282,
 Timestamp('2023-08-15 00:00:00'): 282,
 Timestamp('2022-08-31 00:00:00'): 282,
 Timestamp('2023-03-28 00:00:00'): 282,
 Timestamp('2023-03-30 00:00:00'): 277,
 Timestamp('2022-09-26 00:00:00'): 277,
 Timestamp('2023-04-14 00:00:00'): 275,
 Timestamp('2023-01-12 00:00:00'): 275,
 Timestamp('2022-09-28 00:00:00'): 274,
 Timestamp('2023-01-19 00:00:00'): 272,
 Timestamp('2023-03-13 00:00:00'): 268,
 Timestamp('2023-03-27 00:00:00'): 264,
 Timestamp('2022-08-15 00:00:00'): 263,
 Timestamp('2023-03-02 00:00:00'): 262,
 Timestamp('2022-09-20 00:00:00'): 261,
 Timestamp('2022-10-17 00:00:00'): 261,
 Timestamp('2022-09-21 00:00:00'): 261,
 Timestamp('2023-04-06 00:00:00'): 261,
 Timestamp('2023-02-23 00:00:00'): 261,
 Timestamp('2023-01-09 00:00:00'): 260,
 Timestamp('2022-08-24 00:00:00'): 259,
 Timestamp('2023-08-14 00:00:00'): 258,
 Timestamp('2023-02-09 00:00:00'): 256,
 Timestamp('2023-03-31 00:00:00'): 255,
 Timestamp('2023-02-21 00:00:00'): 255,
 Timestamp('2023-02-01 00:00:00'): 254,
 Timestamp('2022-11-17 00:00:00'): 252,
 Timestamp('2022-11-16 00:00:00'): 252,
 Timestamp('2022-10-19 00:00:00'): 249,
 Timestamp('2022-10-11 00:00:00'): 249,
 Timestamp('2023-01-24 00:00:00'): 246,
 Timestamp('2023-03-06 00:00:00'): 246,
 Timestamp('2023-02-14 00:00:00'): 246,
 Timestamp('2022-09-23 00:00:00'): 245,
 Timestamp('2023-01-17 00:00:00'): 243,
 Timestamp('2022-10-18 00:00:00'): 243,
 Timestamp('2023-01-23 00:00:00'): 242,
 Timestamp('2022-11-18 00:00:00'): 241,
 Timestamp('2023-03-10 00:00:00'): 241,
 Timestamp('2023-02-07 00:00:00'): 240,
 Timestamp('2023-02-08 00:00:00'): 239,
 Timestamp('2022-09-02 00:00:00'): 237,
 Timestamp('2023-02-28 00:00:00'): 235,
 Timestamp('2023-02-27 00:00:00'): 234,
 Timestamp('2023-08-16 00:00:00'): 234,
 Timestamp('2022-11-01 00:00:00'): 234,
 Timestamp('2023-04-03 00:00:00'): 232,
 Timestamp('2023-03-29 00:00:00'): 231,
 Timestamp('2022-09-27 00:00:00'): 230,
 Timestamp('2023-04-07 00:00:00'): 230,
 Timestamp('2022-11-04 00:00:00'): 229,
 Timestamp('2023-01-16 00:00:00'): 229,
 Timestamp('2023-02-24 00:00:00'): 225,
 Timestamp('2023-01-25 00:00:00'): 221,
 Timestamp('2023-03-01 00:00:00'): 221,
 Timestamp('2022-11-03 00:00:00'): 219,
 Timestamp('2023-04-05 00:00:00'): 218,
 Timestamp('2023-02-17 00:00:00'): 218,
 Timestamp('2023-03-07 00:00:00'): 217,
 Timestamp('2022-08-26 00:00:00'): 213,
 Timestamp('2022-10-27 00:00:00'): 213,
 Timestamp('2023-02-22 00:00:00'): 213,
 Timestamp('2022-10-14 00:00:00'): 212,
 Timestamp('2022-10-28 00:00:00'): 211,
 Timestamp('2022-11-25 00:00:00'): 211,
 Timestamp('2023-01-27 00:00:00'): 210,
 Timestamp('2023-01-10 00:00:00'): 204,
 Timestamp('2022-09-30 00:00:00'): 204,
 Timestamp('2022-08-17 00:00:00'): 203,
 Timestamp('2022-11-07 00:00:00'): 202,
 Timestamp('2023-03-17 00:00:00'): 201,
 Timestamp('2022-09-16 00:00:00'): 201,
 Timestamp('2022-11-11 00:00:00'): 198,
 Timestamp('2023-04-20 00:00:00'): 196,
 Timestamp('2023-01-18 00:00:00'): 196,
 Timestamp('2022-11-21 00:00:00'): 196,
 Timestamp('2022-08-19 00:00:00'): 194,
 Timestamp('2023-08-25 00:00:00'): 194,
 Timestamp('2022-11-24 00:00:00'): 194,
 Timestamp('2022-08-23 00:00:00'): 192,
 Timestamp('2023-01-11 00:00:00'): 189,
 Timestamp('2023-01-20 00:00:00'): 189,
 Timestamp('2023-04-24 00:00:00'): 188,
 Timestamp('2023-02-10 00:00:00'): 187,
 Timestamp('2022-11-15 00:00:00'): 186,
 Timestamp('2022-10-21 00:00:00'): 185,
 Timestamp('2023-04-17 00:00:00'): 180,
 Timestamp('2023-02-03 00:00:00'): 180,
 Timestamp('2023-08-18 00:00:00'): 174,
 Timestamp('2022-11-23 00:00:00'): 172,
 Timestamp('2022-11-22 00:00:00'): 166,
 Timestamp('2023-06-19 00:00:00'): 158,
 Timestamp('2023-04-21 00:00:00'): 156,
 Timestamp('2022-04-21 00:00:00'): 153,
 Timestamp('2022-03-02 00:00:00'): 150,
 Timestamp('2022-04-14 00:00:00'): 149,
 Timestamp('2023-03-03 00:00:00'): 149,
 Timestamp('2022-11-08 00:00:00'): 149,
 Timestamp('2022-12-05 00:00:00'): 148,
 Timestamp('2022-08-18 00:00:00'): 148,
 Timestamp('2023-01-13 00:00:00'): 144,
 Timestamp('2022-11-29 00:00:00'): 144,
 Timestamp('2023-07-13 00:00:00'): 142,
 Timestamp('2023-04-28 00:00:00'): 142,
 Timestamp('2023-05-12 00:00:00'): 141,
 Timestamp('2023-04-27 00:00:00'): 140,
 Timestamp('2022-03-17 00:00:00'): 138,
 Timestamp('2022-08-16 00:00:00'): 136,
 Timestamp('2023-04-25 00:00:00'): 135,
 Timestamp('2022-04-22 00:00:00'): 130,
 Timestamp('2022-02-17 00:00:00'): 130,
 Timestamp('2023-06-15 00:00:00'): 128,
 Timestamp('2023-06-29 00:00:00'): 128,
 Timestamp('2022-03-01 00:00:00'): 128,
 Timestamp('2022-03-03 00:00:00'): 127,
 Timestamp('2023-08-11 00:00:00'): 124,
 Timestamp('2023-04-26 00:00:00'): 124,
 Timestamp('2022-04-11 00:00:00'): 121,
 Timestamp('2022-11-28 00:00:00'): 121,
 Timestamp('2023-05-04 00:00:00'): 120,
 Timestamp('2022-04-12 00:00:00'): 120,
 Timestamp('2023-05-02 00:00:00'): 116,
 Timestamp('2023-05-22 00:00:00'): 115,
 Timestamp('2022-10-03 00:00:00'): 115,
 Timestamp('2023-08-10 00:00:00'): 115,
 Timestamp('2022-04-19 00:00:00'): 114,
 Timestamp('2022-02-18 00:00:00'): 113,
 Timestamp('2022-04-20 00:00:00'): 112,
 Timestamp('2021-11-17 00:00:00'): 112,
 Timestamp('2023-06-21 00:00:00'): 111,
 Timestamp('2023-05-16 00:00:00'): 111,
 Timestamp('2022-02-21 00:00:00'): 111,
 Timestamp('2023-06-05 00:00:00'): 108,
 Timestamp('2022-10-22 00:00:00'): 107,
 Timestamp('2022-04-07 00:00:00'): 107,
 Timestamp('2023-05-10 00:00:00'): 107,
 Timestamp('2022-03-10 00:00:00'): 107,
 Timestamp('2021-10-13 00:00:00'): 107,
 Timestamp('2022-12-01 00:00:00'): 105,
 Timestamp('2022-03-16 00:00:00'): 105,
 Timestamp('2022-10-06 00:00:00'): 105,
 Timestamp('2022-04-06 00:00:00'): 105,
 Timestamp('2023-05-30 00:00:00'): 104,
 Timestamp('2022-12-02 00:00:00'): 104,
 Timestamp('2023-06-26 00:00:00'): 104,
 Timestamp('2023-05-11 00:00:00'): 103,
 Timestamp('2022-12-12 00:00:00'): 103,
 Timestamp('2022-04-13 00:00:00'): 102,
 Timestamp('2023-07-20 00:00:00'): 101,
 Timestamp('2022-12-07 00:00:00'): 101,
 Timestamp('2023-01-06 00:00:00'): 98,
 Timestamp('2023-05-29 00:00:00'): 98,
 Timestamp('2023-07-14 00:00:00'): 97,
 Timestamp('2022-04-05 00:00:00'): 96,
 Timestamp('2022-04-18 00:00:00'): 96,
 Timestamp('2022-10-07 00:00:00'): 96,
 Timestamp('2023-04-16 00:00:00'): 94,
 Timestamp('2023-06-20 00:00:00'): 94,
 Timestamp('2022-03-15 00:00:00'): 93,
 Timestamp('2022-11-30 00:00:00'): 93,
 Timestamp('2022-04-08 00:00:00'): 93,
 Timestamp('2022-03-09 00:00:00'): 92,
 Timestamp('2023-06-13 00:00:00'): 92,
 Timestamp('2022-03-18 00:00:00'): 91,
 Timestamp('2023-05-25 00:00:00'): 91,
 Timestamp('2022-02-23 00:00:00'): 88,
 Timestamp('2023-06-16 00:00:00'): 88,
 Timestamp('2023-06-08 00:00:00'): 88,
 Timestamp('2022-04-15 00:00:00'): 87,
 Timestamp('2023-08-04 00:00:00'): 86,
 Timestamp('2023-05-03 00:00:00'): 86,
 Timestamp('2022-02-24 00:00:00'): 86,
 Timestamp('2023-08-07 00:00:00'): 86,
 Timestamp('2022-08-11 00:00:00'): 86,
 Timestamp('2022-02-15 00:00:00'): 86,
 Timestamp('2022-11-19 00:00:00'): 85,
 Timestamp('2023-08-03 00:00:00'): 85,
 Timestamp('2022-02-25 00:00:00'): 84,
 Timestamp('2023-03-24 00:00:00'): 84,
 Timestamp('2023-06-07 00:00:00'): 83,
 Timestamp('2023-08-08 00:00:00'): 83,
 Timestamp('2023-07-19 00:00:00'): 83,
 Timestamp('2023-08-02 00:00:00'): 83,
 Timestamp('2023-06-12 00:00:00'): 83,
 Timestamp('2023-07-27 00:00:00'): 82,
 Timestamp('2022-12-08 00:00:00'): 82,
 Timestamp('2023-05-18 00:00:00'): 82,
 Timestamp('2022-03-14 00:00:00'): 81,
 Timestamp('2023-03-20 00:00:00'): 81,
 Timestamp('2023-05-15 00:00:00'): 81,
 Timestamp('2023-05-19 00:00:00'): 81,
 Timestamp('2023-06-09 00:00:00'): 80,
 Timestamp('2023-05-24 00:00:00'): 80,
 Timestamp('2023-07-12 00:00:00'): 80,
 Timestamp('2023-05-13 00:00:00'): 80,
 Timestamp('2023-06-06 00:00:00'): 79,
 Timestamp('2022-02-16 00:00:00'): 79,
 Timestamp('2022-03-04 00:00:00'): 78,
 Timestamp('2022-02-28 00:00:00'): 78,
 Timestamp('2023-05-26 00:00:00'): 76,
 Timestamp('2023-07-17 00:00:00'): 76,
 Timestamp('2022-04-04 00:00:00'): 76,
 Timestamp('2022-02-22 00:00:00'): 76,
 Timestamp('2022-02-07 00:00:00'): 75,
 Timestamp('2023-08-09 00:00:00'): 74,
 Timestamp('2023-04-08 00:00:00'): 74,
 Timestamp('2022-03-28 00:00:00'): 74,
 Timestamp('2022-04-16 00:00:00'): 73,
 Timestamp('2022-03-31 00:00:00'): 73,
 Timestamp('2023-06-14 00:00:00'): 72,
 Timestamp('2023-06-30 00:00:00'): 72,
 Timestamp('2022-05-30 00:00:00'): 72,
 Timestamp('2021-09-29 00:00:00'): 72,
 Timestamp('2023-06-01 00:00:00'): 72,
 Timestamp('2022-10-05 00:00:00'): 72,
 Timestamp('2022-02-10 00:00:00'): 71,
 Timestamp('2023-07-11 00:00:00'): 71,
 Timestamp('2022-04-01 00:00:00'): 71,
 Timestamp('2023-05-05 00:00:00'): 71,
 Timestamp('2023-04-15 00:00:00'): 71,
 Timestamp('2022-05-23 00:00:00'): 70,
 Timestamp('2021-09-23 00:00:00'): 70,
 Timestamp('2021-11-15 00:00:00'): 69,
 Timestamp('2022-04-23 00:00:00'): 69,
 Timestamp('2023-06-02 00:00:00'): 69,
 Timestamp('2022-05-03 00:00:00'): 69,
 Timestamp('2023-04-22 00:00:00'): 69,
 Timestamp('2022-10-04 00:00:00'): 68,
 Timestamp('2021-12-07 00:00:00'): 68,
 Timestamp('2023-05-17 00:00:00'): 68,
 Timestamp('2023-05-31 00:00:00'): 68,
 Timestamp('2022-02-09 00:00:00'): 67,
 Timestamp('2022-08-28 00:00:00'): 67,
 Timestamp('2021-11-04 00:00:00'): 67,
 Timestamp('2022-03-29 00:00:00'): 67,
 Timestamp('2021-09-27 00:00:00'): 67,
 Timestamp('2021-08-25 00:00:00'): 67,
 Timestamp('2022-03-11 00:00:00'): 66,
 Timestamp('2023-06-22 00:00:00'): 65,
 Timestamp('2022-03-05 00:00:00'): 65,
 Timestamp('2022-04-29 00:00:00'): 65,
 Timestamp('2022-12-04 00:00:00'): 65,
 Timestamp('2023-08-30 00:00:00'): 64,
 Timestamp('2022-08-27 00:00:00'): 64,
 Timestamp('2021-11-25 00:00:00'): 64,
 Timestamp('2022-12-15 00:00:00'): 63,
 Timestamp('2023-04-09 00:00:00'): 63,
 Timestamp('2021-09-13 00:00:00'): 63,
 Timestamp('2021-10-25 00:00:00'): 62,
 Timestamp('2021-11-08 00:00:00'): 62,
 Timestamp('2023-02-19 00:00:00'): 62,
 Timestamp('2023-06-23 00:00:00'): 61,
 Timestamp('2023-06-27 00:00:00'): 61,
 Timestamp('2022-08-10 00:00:00'): 61,
 Timestamp('2021-08-29 00:00:00'): 61,
 Timestamp('2021-09-03 00:00:00'): 61,
 Timestamp('2022-03-30 00:00:00'): 60,
 Timestamp('2021-09-15 00:00:00'): 59,
 Timestamp('2023-07-03 00:00:00'): 59,
 Timestamp('2021-09-20 00:00:00'): 59,
 Timestamp('2023-02-18 00:00:00'): 59,
 Timestamp('2022-12-14 00:00:00'): 59,
 Timestamp('2023-07-18 00:00:00'): 59,
 Timestamp('2023-07-25 00:00:00'): 59,
 Timestamp('2021-11-03 00:00:00'): 58,
 Timestamp('2021-08-19 00:00:00'): 58,
 Timestamp('2021-10-15 00:00:00'): 58,
 Timestamp('2021-08-16 00:00:00'): 58,
 Timestamp('2023-07-05 00:00:00'): 58,
 Timestamp('2021-09-17 00:00:00'): 57,
 Timestamp('2022-12-19 00:00:00'): 57,
 Timestamp('2021-11-16 00:00:00'): 57,
 Timestamp('2023-04-29 00:00:00'): 56,
 Timestamp('2021-11-05 00:00:00'): 56,
 Timestamp('2023-02-12 00:00:00'): 55,
 Timestamp('2023-07-10 00:00:00'): 55,
 Timestamp('2021-09-30 00:00:00'): 55,
 Timestamp('2021-10-18 00:00:00'): 55,
 Timestamp('2022-06-17 00:00:00'): 54,
 Timestamp('2021-10-14 00:00:00'): 54,
 Timestamp('2023-07-28 00:00:00'): 54,
 Timestamp('2022-12-09 00:00:00'): 54,
 Timestamp('2022-06-16 00:00:00'): 54,
 Timestamp('2023-04-23 00:00:00'): 54,
 Timestamp('2023-07-31 00:00:00'): 53,
 Timestamp('2023-03-11 00:00:00'): 53,
 Timestamp('2022-07-14 00:00:00'): 53,
 Timestamp('2023-02-11 00:00:00'): 53,
 Timestamp('2022-08-09 00:00:00'): 52,
 Timestamp('2021-09-24 00:00:00'): 52,
 Timestamp('2023-07-24 00:00:00'): 52,
 Timestamp('2023-02-26 00:00:00'): 52,
 Timestamp('2022-05-20 00:00:00'): 51,
 Timestamp('2022-12-03 00:00:00'): 51,
 Timestamp('2021-09-08 00:00:00'): 51,
 Timestamp('2022-06-07 00:00:00'): 51,
 Timestamp('2022-08-08 00:00:00'): 50,
 Timestamp('2022-02-02 00:00:00'): 50,
 Timestamp('2021-11-11 00:00:00'): 50,
 Timestamp('2022-04-26 00:00:00'): 50,
 Timestamp('2023-07-21 00:00:00'): 49,
 Timestamp('2022-06-20 00:00:00'): 49,
 Timestamp('2022-05-02 00:00:00'): 49,
 Timestamp('2021-08-24 00:00:00'): 49,
 Timestamp('2022-04-27 00:00:00'): 49,
 Timestamp('2022-05-12 00:00:00'): 49,
 Timestamp('2023-01-05 00:00:00'): 49,
 Timestamp('2022-05-13 00:00:00'): 49,
 Timestamp('2021-08-27 00:00:00'): 49,
 Timestamp('2022-02-14 00:00:00'): 48,
 Timestamp('2022-11-20 00:00:00'): 48,
 Timestamp('2021-08-23 00:00:00'): 48,
 Timestamp('2021-09-01 00:00:00'): 48,
 Timestamp('2021-10-20 00:00:00'): 48,
 Timestamp('2021-10-29 00:00:00'): 47,
 Timestamp('2022-10-25 00:00:00'): 47,
 Timestamp('2023-01-22 00:00:00'): 47,
 Timestamp('2022-09-10 00:00:00'): 47,
 Timestamp('2021-11-01 00:00:00'): 47,
 Timestamp('2021-11-12 00:00:00'): 46,
 Timestamp('2022-07-28 00:00:00'): 46,
 Timestamp('2023-04-02 00:00:00'): 46,
 Timestamp('2023-07-26 00:00:00'): 46,
 Timestamp('2022-08-12 00:00:00'): 46,
 Timestamp('2023-09-01 00:00:00'): 46,
 Timestamp('2021-09-16 00:00:00'): 46,
 Timestamp('2023-06-24 00:00:00'): 45,
 Timestamp('2023-02-25 00:00:00'): 45,
 Timestamp('2021-10-01 00:00:00'): 45,
 Timestamp('2021-11-10 00:00:00'): 45,
 Timestamp('2023-03-12 00:00:00'): 45,
 Timestamp('2022-04-28 00:00:00'): 45,
 Timestamp('2022-04-25 00:00:00'): 45,
 Timestamp('2022-12-13 00:00:00'): 45,
 Timestamp('2022-12-26 00:00:00'): 45,
 Timestamp('2021-08-18 00:00:00'): 44,
 Timestamp('2022-02-08 00:00:00'): 44,
 Timestamp('2022-05-31 00:00:00'): 44,
 Timestamp('2022-03-25 00:00:00'): 44,
 Timestamp('2023-08-01 00:00:00'): 44,
 Timestamp('2022-07-18 00:00:00'): 44,
 Timestamp('2022-05-11 00:00:00'): 44,
 Timestamp('2021-12-05 00:00:00'): 44,
 Timestamp('2022-05-24 00:00:00'): 43,
 Timestamp('2022-01-31 00:00:00'): 43,
 Timestamp('2022-07-22 00:00:00'): 43,
 Timestamp('2021-11-24 00:00:00'): 43,
 Timestamp('2022-06-06 00:00:00'): 43,
 Timestamp('2021-11-02 00:00:00'): 43,
 Timestamp('2023-07-04 00:00:00'): 43,
 Timestamp('2022-05-25 00:00:00'): 42,
 Timestamp('2023-08-20 00:00:00'): 42,
 Timestamp('2021-09-21 00:00:00'): 42,
 Timestamp('2021-09-06 00:00:00'): 42,
 Timestamp('2023-04-30 00:00:00'): 42,
 Timestamp('2022-06-15 00:00:00'): 42,
 Timestamp('2022-06-01 00:00:00'): 41,
 Timestamp('2022-12-20 00:00:00'): 41,
 Timestamp('2023-05-23 00:00:00'): 41,
 Timestamp('2023-01-04 00:00:00'): 41,
 Timestamp('2022-06-23 00:00:00'): 41,
 Timestamp('2021-09-22 00:00:00'): 41,
 Timestamp('2023-05-01 00:00:00'): 41,
 Timestamp('2022-05-04 00:00:00'): 41,
 Timestamp('2023-01-21 00:00:00'): 41,
 Timestamp('2021-09-14 00:00:00'): 41,
 Timestamp('2022-10-08 00:00:00'): 41,
 Timestamp('2021-09-12 00:00:00'): 41,
 Timestamp('2022-02-26 00:00:00'): 41,
 Timestamp('2022-07-25 00:00:00'): 41,
 Timestamp('2022-06-27 00:00:00'): 40,
 Timestamp('2023-01-14 00:00:00'): 40,
 Timestamp('2023-01-15 00:00:00'): 40,
 Timestamp('2023-01-28 00:00:00'): 40,
 Timestamp('2021-09-28 00:00:00'): 40,
 Timestamp('2022-06-24 00:00:00'): 40,
 Timestamp('2021-11-19 00:00:00'): 40,
 Timestamp('2022-04-17 00:00:00'): 40,
 Timestamp('2021-11-18 00:00:00'): 40,
 Timestamp('2022-08-01 00:00:00'): 40,
 Timestamp('2022-03-24 00:00:00'): 40,
 Timestamp('2022-04-09 00:00:00'): 39,
 Timestamp('2022-06-09 00:00:00'): 39,
 Timestamp('2022-12-21 00:00:00'): 39,
 Timestamp('2021-08-26 00:00:00'): 39,
 Timestamp('2021-09-02 00:00:00'): 39,
 Timestamp('2022-03-13 00:00:00'): 39,
 Timestamp('2021-10-04 00:00:00'): 39,
 Timestamp('2021-10-21 00:00:00'): 39,
 Timestamp('2022-08-02 00:00:00'): 39,
 Timestamp('2022-05-27 00:00:00'): 38,
 Timestamp('2021-09-10 00:00:00'): 38,
 Timestamp('2022-09-24 00:00:00'): 38,
 Timestamp('2022-06-30 00:00:00'): 38,
 Timestamp('2022-05-17 00:00:00'): 38,
 Timestamp('2022-06-13 00:00:00'): 38,
 Timestamp('2022-06-14 00:00:00'): 38,
 Timestamp('2022-03-19 00:00:00'): 38,
 Timestamp('2023-04-01 00:00:00'): 38,
 Timestamp('2021-12-02 00:00:00'): 38,
 Timestamp('2021-10-27 00:00:00'): 37,
 Timestamp('2021-11-09 00:00:00'): 36,
 Timestamp('2022-07-21 00:00:00'): 36,
 Timestamp('2023-06-11 00:00:00'): 36,
 Timestamp('2021-10-28 00:00:00'): 36,
 Timestamp('2021-12-06 00:00:00'): 36,
 Timestamp('2021-08-20 00:00:00'): 36,
 Timestamp('2022-06-21 00:00:00'): 36,
 Timestamp('2021-10-22 00:00:00'): 36,
 Timestamp('2022-06-03 00:00:00'): 36,
 Timestamp('2021-11-30 00:00:00'): 35,
 Timestamp('2022-07-27 00:00:00'): 35,
 Timestamp('2022-07-04 00:00:00'): 35,
 Timestamp('2022-06-08 00:00:00'): 35,
 Timestamp('2021-08-31 00:00:00'): 35,
 Timestamp('2022-06-28 00:00:00'): 35,
 Timestamp('2022-05-16 00:00:00'): 35,
 Timestamp('2022-10-30 00:00:00'): 35,
 Timestamp('2022-03-12 00:00:00'): 35,
 Timestamp('2023-07-01 00:00:00'): 35,
 Timestamp('2021-08-30 00:00:00'): 34,
 Timestamp('2021-10-26 00:00:00'): 34,
 Timestamp('2022-02-03 00:00:00'): 34,
 Timestamp('2021-10-06 00:00:00'): 34,
 Timestamp('2023-03-08 00:00:00'): 34,
 Timestamp('2022-05-01 00:00:00'): 34,
 Timestamp('2021-10-12 00:00:00'): 34,
 Timestamp('2022-06-02 00:00:00'): 33,
 Timestamp('2022-01-19 00:00:00'): 33,
 Timestamp('2023-05-06 00:00:00'): 33,
 Timestamp('2021-12-03 00:00:00'): 33,
 Timestamp('2021-10-19 00:00:00'): 33,
 Timestamp('2021-11-23 00:00:00'): 32,
 Timestamp('2021-12-20 00:00:00'): 32,
 Timestamp('2022-07-05 00:00:00'): 32,
 Timestamp('2022-05-05 00:00:00'): 32,
 Timestamp('2022-09-25 00:00:00'): 32,
 Timestamp('2022-05-26 00:00:00'): 32,
 Timestamp('2022-07-07 00:00:00'): 32,
 Timestamp('2022-12-28 00:00:00'): 32,
 Timestamp('2022-05-06 00:00:00'): 32,
 Timestamp('2022-08-03 00:00:00'): 31,
 Timestamp('2021-12-30 00:00:00'): 31,
 Timestamp('2022-07-26 00:00:00'): 31,
 Timestamp('2023-03-21 00:00:00'): 31,
 Timestamp('2023-03-05 00:00:00'): 31,
 Timestamp('2022-11-26 00:00:00'): 31,
 Timestamp('2023-02-04 00:00:00'): 31,
 Timestamp('2022-02-04 00:00:00'): 30,
 Timestamp('2022-02-01 00:00:00'): 30,
 Timestamp('2022-10-24 00:00:00'): 30,
 Timestamp('2023-06-25 00:00:00'): 30,
 Timestamp('2022-02-11 00:00:00'): 30,
 Timestamp('2021-11-14 00:00:00'): 30,